@inject HttpClient Http
@using System.IO
@using System.Net
@using VeryBigShoesCompany.Shared

<h3>@Message</h3>

<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <button type="submit">Upload Selected File(s)</button>
    <hr />
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <span>@ErrorMessage</span>
    }
    <hr />
</form>

@code {
    [Parameter] public EventCallback<bool> OnUploadComplete { get; set; }
    string Message = "No file(s) selected";
    string ErrorMessage = string.Empty;
    IReadOnlyList<IBrowserFile> selectedFiles;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async Task OnSubmit()
    {
        ErrorMessage = string.Empty;
        foreach (var file in selectedFiles)
        {
            Stream stream = file.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();

            UploadedFile uploadedFile = new UploadedFile();
            uploadedFile.FileName = file.Name;
            uploadedFile.FileContent = ms.ToArray();
            ms.Close();

            try
            {
                var result = await Http.PostAsJsonAsync<UploadedFile>("/api/orders", uploadedFile);
                if (result.StatusCode == HttpStatusCode.UnprocessableEntity)
                {
                    ErrorMessage = await result.Content.ReadAsStringAsync();
                }
            }
            catch (Exception ex)
            {
                ErrorMessage = ex.Message;
            }

            await OnUploadComplete.InvokeAsync();
        }

        Message = $"{selectedFiles.Count} file(s) uploaded on server";
        StateHasChanged();
    }
}