@inject HttpClient Http
@using System.IO
@using VeryBigShoesCompany.Shared

<h3>@Message</h3>

<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <button type="submit">Upload Selected File(s)</button>
    <hr /> <hr />
</form>

@code {
    [Parameter] public EventCallback<bool> OnUploadComplete { get; set; }
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async void OnSubmit()
    {
        foreach (var file in selectedFiles)
        {
            Stream stream = file.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();

            UploadedFile uploadedFile = new UploadedFile();
            uploadedFile.FileName = file.Name;
            uploadedFile.FileContent = ms.ToArray();
            ms.Close();

            await Http.PostAsJsonAsync<UploadedFile>("/api/orders", uploadedFile);

            await OnUploadComplete.InvokeAsync();
        }

        Message = $"{selectedFiles.Count} file(s) uploaded on server";
        this.StateHasChanged();
    }
}